body {
	margin: 0;
    overflow: hidden;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

canvas {
	background-color: #434343;
}

#instructions {
	position: absolute;
    color: #eee;
    text-shadow: white 2px;
	bottom: 0;
	padding-bottom: 2rem;
	font-family: sans-serif;
	width: 100%;
	text-align: center;
    pointer-events: none;
    text-transform: uppercase;
    
}

.header{
    position: absolute;
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    padding-left: 5%;
    background-color: #212121;
    color:white;
}